@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;500;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Merriweather:wght@300;400&display=swap");

.merriweather {
  font-family: "Merriweather", serif !important;
}

.montserrat {
  font-family: "Montserrat", sans-serif !important;
}

.weight800 {
  font-weight: 800 !important;
}

.weight200 {
  font-weight: 200 !important;
}
.weight100 {
  font-weight: 100 !important;
}

.weight300 {
  font-weight: 300 !important;
}
.weight500 {
  font-weight: 500 !important;
}

.weight900 {
  font-weight: 900 !important;
}

.fontSizeSmall {
  font-size: 1.2em !important;
}

.lineHeightDouble {
  line-height: 2 !important;
}

.size12 {
  font-size: smaller !important;
}

.email {
  display: inline-block !important;
  position: absolute !important;
}
.email:hover {
  color: rgb(58, 60, 70) !important;
  text-decoration: none !important;
  -moz-transform: scale(1, -1) !important;
  -webkit-transform: scale(1, -1) !important;
  -o-transform: scale(1, -1) !important;
  -ms-transform: scale(1, -1) !important;
  transform: scale(1, -1) !important;
}
#email-link {
  color: rgb(58, 60, 70);
}
#email-link:hover {
  text-decoration: none !important;
  color: inherit;
}

.bold {
  font-weight: bold;
}

.no-outline {
  background-color: transparent !important;
  border: none !important;
}

#submit-button:hover {
  text-decoration: none !important;
  -moz-transform: scale(1, -1) !important;
  -webkit-transform: scale(1, -1) !important;
  -o-transform: scale(1, -1) !important;
  -ms-transform: scale(1, -1) !important;
  transform: scale(1, -1) !important;
}

.btn-lg:focus {
  outline: none !important;
  box-shadow: none !important;
}

.btn-lg:active {
  transform: scale(1.1);
}

.black {
  color: rgb(58, 60, 70);
}

.letterspace0 {
  letter-spacing: 0px !important;
}

.gray {
  color: rgb(124, 121, 121) !important;
}

#msg-link:hover {
  display: inline-block !important;
  text-decoration: none !important;
  -moz-transform: scale(1, -1) !important;
  -webkit-transform: scale(1, -1) !important;
  -o-transform: scale(1, -1) !important;
  -ms-transform: scale(1, -1) !important;
  transform: scale(1, -1) !important;
}

#msg-email {
  color: rgb(124, 121, 121) !important;
}

#msg-email:hover {
  text-decoration: none !important;
}
